<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <div class="top-left-part">
        <!-- Logo -->
        <a class="logo" href="#">
          <!-- Logo icon image, you can use font-icon also --><b>
            <!--This is dark logo icon--><img src="intranet/plugins/images/admin-logo.png" alt="home"
              class="dark-logo" />
            <!--This is light logo icon--><img src="intranet/plugins/images/admin-logo-dark.png" alt="home"
              class="light-logo" />
          </b>
          <!-- Logo text image you can use text also --><span class="hidden-xs">
            <!--This is dark logo text--><img src="intranet/plugins/images/admin-text.png" alt="home"
              class="dark-logo" />
            <!--This is light logo text--><img src="intranet/plugins/images/admin-text-dark.png" alt="home"
              class="light-logo" />
          </span> </a>
      </div>
      <!-- /Logo -->
      <ul class="nav navbar-top-links navbar-right pull-right">
        <li>
          <a class="nav-toggler open-close waves-effect waves-light
                  hidden-md hidden-lg" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        </li>
        <li>
          <a href="logout" class="waves-effect">Cerrar Sesión <i class="fa  fa-power-off
                    fa-fw" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
      <div class="sidebar-head">
        <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
          <span class="hide-menu">Navigation</span></h3>
      </div>
      <ul class="nav" id="side-menu">
        <li style="padding: 70px 0 0;">
          <a href="/add" class="waves-effect"><i class="fa
                    fa-home fa-fw" aria-hidden="true"></i>Crear Anuncio</a>
        </li>
        <li>
          <a href="/profileA" class="waves-effect"><i class="fa fa-user
                    fa-fw" aria-hidden="true"></i>Perfil</a>
        </li>
        <li>
          <a href="/mensajes" class="waves-effect"><i class="fa
                    fa-envelope fa-fw" aria-hidden="true"></i>Mensajes</a>
        </li>
        <li>
          <a href="/anuncios" class="waves-effect"><i class="fa
                    fa-building fa-fw" aria-hidden="true"></i>Mis Anuncios</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">BIENVENIDO</h4>
        </div>
      </div>
      <div class="row">
        {{>message}}
        <div class="col-md-4 col-xs-12">
          <div class="white-box">
            <div class="user-bg"> <img width="100%" alt="user" src="intranet/plugins/images/large/img1.jpg">
              <div class="overlay-box">
                <div class="user-content">
                  <a href="javascript:void(0)"><img src="intranet/plugins/images/users/user.png"
                      class="thumb-lg img-circle" alt="img"></a>
                  <h4 class="text-white">{{user.nombre}}</h4>
                  <h5 class="text-white">{{user.email}}</h5>
                </div>
              </div>
            </div>
            <div class="user-btm-box">
              <div class="col-md-4 col-sm-4 text-center">
                <p class="text-purple"><i class="ti-facebook"></i></p>
                <h1>258</h1>
              </div>
              <div class="col-md-4 col-sm-4 text-center">
                <p class="text-blue"><i class="ti-twitter"></i></p>
                <h1>125</h1>
              </div>
              <div class="col-md-4 col-sm-4 text-center">
                <p class="text-danger"><i class="ti-dribbble"></i></p>
                <h1>556</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="white-box">
            <form class="form-horizontal form-material" action="/editA" method="POST">
              <div class="form-group">
                <label class="col-md-6">Nombre</label>
                <label class="col-md-6">Apellido</label>
                <div class="col-md-6">
                  <input type="text" placeholder="Johnathan Doe" name="nombre" id="nombre"
                    class="form-control form-control-line" value="{{user.nombre}}" required>
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Johnathan Doe" name="apellido" id="apellido"
                    class="form-control form-control-line" value="{{user.apellido}}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-6">Email</label>
                <label for="example-email" class="col-md-6">Razón Social</label>
                <div class="col-md-6">
                  <input type="email" name="email" id="email" value="{{user.email}}"
                    class="form-control form-control-line" readonly>
                </div>
                <div class="col-md-6">
                  <input type="text" name="razon" id="razon" value="{{user.razon_social}}"
                    class="form-control form-control-line" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-6">Clave</label>
                <label class="col-md-6">Confirmar Clave</label>
                <div class="col-md-6">
                  <input type="password" name="password" id="password" placeholder="********"
                    class="form-control form-control-line" required>
                </div>
                <div class="col-md-6">
                  <input type="password" name="passwordc" id="passwordc" placeholder="********"
                    class="form-control form-control-line" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-6">Teléfono</label>
                <label class="col-sm-6">Ciudad</label>
                <div class="col-md-6">
                  <input type="text" placeholder="123 456 7890" value="{{user.telefono}}" name="telefono" id="telefono"
                    class="form-control form-control-line" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" name="ciudad" id="ciudad" value="{{user.ciudad}}"
                    class="form-control form-control-line" required> </div>
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-success" type="submit">Editar Datos</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center"> 2017 &copy; Ample Admin brought to
    you by wrappixel.com </footer>
</div>
</div>